@use "../styles/colors";

#cf7a-widget {

	.cf7-a_list-item {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#antispam-widget-list span.timestamp {
		margin-right: 5px;
		color: colors.$color__muted-text;
		display: inline-block;
		font-size: 90%;
		font-family: monospace;
	}

	.cf7-a_widget-empty {
		text-align: center;

		.dashicons,
		.dashicons-before {
			font-size: 96px;
			line-height: 1;
			height: 100px;
			margin-top: 6px;
			margin-left: 0;
			width: 96px;
			opacity: 0.7;
		}
	}
}

.cf7-antispam-admin {

	.antispam-charts-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		.antispam-charts-line {
			min-width: 0;
			position: relative;
			height: 300px;
			width: 100%;
		}

		.antispam-charts-pie {
			max-width: 100%;
			margin: 0 auto;
			padding: 20px;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 100%;
		}

		.antispam-charts-line canvas {
			width: 100% !important;
			height: 100% !important;
			display: block;
		}

		.antispam-charts-pie canvas {
			width: 100% !important;
			height: auto !important;
			display: block;
		}
	}

	/* Desktop layout */
	@media (min-width: 1024px) {
		.antispam-charts-container {
			grid-template-columns: 2fr 1fr;
			align-self: start;
		}
	}
}
