@use "../styles/colors";

#cf7a-widget {

	.cf7-a_list-item {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#antispam-widget-list span.timestamp {
		margin-right: 5px;
		color: colors.$color__muted-text;
		display: inline-block;
		font-size: 90%;
		font-family: monospace;
	}

	#pie-chart {
		width: 36px !important;
		height: 36px !important;
		display: inline-block !important;
		padding: 4px;
		float: left;
		margin-right: 4px;
	}

	.cf7-a_widget-empty {
		text-align: center;

		.dashicons,
		.dashicons-before {
			font-size: 96px;
			line-height: 1;
			height: 100px;
			margin-top: 6px;
			margin-left: 0;
			width: 96px;
			opacity: 0.7;
		}
	}
}

.cf7-antispam-admin {

	.antispam-charts-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10%;
	}

	/* Desktop layout */
	@media (min-width: 768px) {

		.antispam-charts-container {
			grid-template-columns: 2fr 1fr;
			align-self: start
		}
	}
}

