parameters:
    level: 5
    paths:
        - cf7-antispam.php
        - admin/
        - includes/
        - libs/
        - ../contact-form-7/wp-contact-form-7.php
        - ../contact-form-7/admin/
        - ../contact-form-7/includes/
        - ../contact-form-7/modules/
        - ../flamingo/flamingo.php
        - ../flamingo/admin/
        - ../flamingo/includes/
