# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    # Void as typehints are available only on PHP 7.1+
    checkMissingIterableValueType: false
    paths:
        - ./
        - ../contact-form-7/wp-contact-form-7.php
        - ../contact-form-7/admin/
        - ../contact-form-7/includes/
        - ../contact-form-7/modules/
        - ../flamingo/flamingo.php
        - ../flamingo/admin/
        - ../flamingo/includes/
    excludePaths:
        - .github/
        - .husky/
        - vendor/
        - tests/
        - node_modules/
    ignoreErrors:
        - 'Constant CF7ANTISPAM_NAME not found.'
        - 'Constant CF7ANTISPAM_VERSION not found.'
        - 'Constant CF7ANTISPAM_PLUGIN not found.'
        - 'Constant CF7ANTISPAM_PLUGIN_BASENAME not found.'
        - 'Constant CF7ANTISPAM_PLUGIN_DIR not found.'
        - 'Constant CF7ANTISPAM_PLUGIN_URL not found.'
        - 'Constant CF7ANTISPAM_LOG_PREFIX not found.'
        - 'Constant CF7ANTISPAM_DEBUG not found.'
        - 'Constant CF7ANTISPAM_DEBUG_EXTENDED not found.'
        - 'Constant CF7ANTISPAM_DNSBL_BENCHMARK not found.'
        - 'Constant CF7ANTISPAM_PREFIX not found.'
        - 'Constant CF7ANTISPAM_HONEYPOT_CLASS not found.'
        - 'Constant CF7ANTISPAM_CYPHER not found.'
        - 'Constant CF7ANTISPAM_GEOIP_KEY not found.'
