<?xml version="1.0"?>
<phpunit
	bootstrap="tests/PhpUnit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Php tests">
			<directory prefix="CF7_AntiSpam" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
