<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Php tests">
			<directory suffix=".php" phpVersion="*">tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
