@use "colors";

.cf7-antispam-admin {

	#welcome-notice {
		position: relative;
		align-content: center;
		display: flex;
		padding: 0.7em 2em 1em;
		background: #e7dbff;
		border: 1px solid #dbc7ff;

		.dashicons {
			color: #6f42c1;
			flex-shrink: 0;
			width: 32px;
			padding-right: 16px;
			height: 32px;
			font-size: 32px;
			align-self: center;
		}

		p a {
			font-weight: 700;
		}

		.welcome-panel-close {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 10px 15px 10px 24px;
			text-decoration: none;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				transition: all 0.1s ease-in-out;
				content: "\f335";
				color: colors.$color__text-grey;
				display: block;
				font: 400 20px/28px dashicons;
				height: 20px;
				text-align: center;
				width: 20px;
			}
		}
	}

	.cf7a-nav-tab-wrapper {
		border-bottom: 1px solid colors.$color__light-grey;
		margin: 20px 0;
		padding: 0;
	}

	.cf7a-nav-tab {
		display: inline-block;
		padding: 10px 15px;
		margin-right: 5px;
		background: colors.$color__light-background;
		border: 1px solid colors.$color__light-grey;
		border-bottom: none;
		text-decoration: none;
		color: colors.$color__medium-grey;
		border-radius: 4px 4px 0 0;
		position: relative;
		top: 1px;

		&:hover {
			background: colors.$color__hover-grey;
			color: colors.$color__text-grey;
		}

		&.nav-tab-active {
			background: colors.$color__white;
			color: colors.$color__text-grey;
			border-bottom: 1px solid colors.$color__white;
		}
	}

	.cf7a-tab-content {
		padding: 20px 0;
	}

	.cf7a-tab-panel {
		display: none;

		&.active {
			display: block;

			&#dashboard {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
		}
	}
}
