@use "../styles/colors";
@use "sass:color";

.cf7-antispam-admin {

	form {
		// input style
		h2 {
			padding-top: 24px;
			border-top: 1px solid colors.$color__border-grey;
			margin-top: 32px;
			margin-bottom: 4px;

			+ p {
				margin-top: 0;
				color: colors.$color__medium-grey;
			}
		}

		// remove the border for the first subtitle
		input[type="hidden"] + h2 {
			margin-top: 0;
			border: 0;
		}

		// input style
		textarea {
			width: 100%;
			min-height: 100px;
		}
	}

	/* DASHBOARD TAB */
	#welcome-panel {
		position: relative;
		margin-top: 20px;
		padding: 0.7em 2em 1em;

		h3 {
			font-size: 16px;
			font-weight: 600;
			line-height: 32px;
			margin: 1em 0 1.2em;

			.dashicons {
				position: relative;
				top: -2px;
				display: inline-block;
				width: 60px;
				color: colors.$color__dark-grey;
				font-size: 40px;
			}
		}

		p a {
			font-weight: 700;
		}

		.welcome-panel-column,
		.welcome-panel-column:first-child {
			width: 48%;
			padding: 0 2% 0 0;
			margin: 0 0 1em 0;

			@media screen and (max-width: 870px) {
				display: block;
				float: none;
				width: 100%;
			}
		}

		&:hover {

			h3.blink {
				animation: 5s blink;
			}

			code.blink {
				animation: 4s 1s blink;
			}
		}

		.welcome-panel-close {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 10px 15px 10px 24px;
			font-size: 13px;
			line-height: 1.23076923;
			text-decoration: none;

			&::before {
				position: absolute;
				top: 8px;
				left: 0;
				transition: all 0.1s ease-in-out;
				content: "\f335";
				color: #1d2327;
				display: block;
				font: 400 16px/20px dashicons;
				height: 20px;
				text-align: center;
				width: 20px;
			}
		}
	}

	.cf7a-option-notice {
		padding: 4px 8px;
		border: 2px solid colors.$color__yellow;
		display: block;
		border-radius: 8px;
	}

	.cf7a-tip {
		padding: 2px 16px;
		background: colors.$color__yellow-background;
		border: 1px solid colors.$color__yellow-border;
		border-radius: 3px;
		box-sizing: border-box;
	}

	.cf7a-loader {
		display: inline-block;
		height: 25px;
		vertical-align: middle;
		width: 25px;
		margin: 3px 12px;
		opacity: 0.5;
	}

	// Style for honeyform exclude pages
	.honeyform-container {
		max-width: 600px;

		.row {
			display: flex;
			gap: 1rem;
			width: 100%;
			flex-wrap: wrap;

			.honeyform-action {
				margin-top: 0.5rem;
				padding: 0.4rem 0.3rem;
				border-radius: 4px;
				text-align: center;
				box-sizing: border-box;
				min-height: inherit;
				line-height: 16px;
				width: 100%;
			}

			.add,
			.remove {
				flex: 1;

				select {
					width: 100%;
					min-height: 120px;
				}

				div {
					text-align: center;
					box-sizing: border-box;
					border: 1px solid color.adjust(colors.$color__dark-blue, $lightness: -10%);
				}
			}
		}
	}
}

.notice.notice-cf7-antispam {
	border-left-color: colors.$color__orange;
}

// Animations
@keyframes blink {

	0% {
		color: colors.$color__medium-grey;
	}

	5% {
		color: colors.$color__primary;
	}

	20% {
		color: colors.$color__medium-grey;
	}
}
