#cf7-antispam{

    input {
        margin: 0 5px 0 0;
    }

    .integration-icon {
        display: inline-block;
        padding-block: inherit;
        margin: 0 0 0 0.7em;
        width: 30px;
      }
}